#wrapper {
    display: grid;
    border: solid 1px rgb(255, 254, 254);
    width: 100%;
    grid-template-areas: 
    'na na na'
    'm1 m2 m3'
    'm1 m2 m3'
    'm1 m2 m3'
    ;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: rgb(31, 89, 89);
    color:rgb(255, 254, 254);
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navlinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    height: 90vh;
    top: -90vh;
    background-color: rgb(31, 82, 82);
    align-items: center;
    width: 30%;
}

.navActive {
    transform: translateY(100vh);
}

.navlinks li {
    list-style: none;
}

.navlinks a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 10%;
}

.burger {
    position: absolute;
    right:25px;
}


.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 { 
    transform: rotate(45deg) translate(-5px, -6px);
}


#spalt1 {
    grid-area: m1;
    height: 100%;
    width: 100%; 
}

#spalt1 img {
    width: 100%;
    height: 700px; 
}


#spalt2 {
    grid-area: m2;
    height: 100%;
    width: 100%;
}

#spalt2 img {
    width: 100%; 
    height: 700px;
}

#spalt3 {
    grid-area: m3;
    height: 100%;
    width: 100%;
}

#spalt3 img {
    width: 100%;
    height: 700px;
}

#titlar {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    margin-top: 40px;
    margin-bottom: 10px;
    color:  rgb(31, 82, 82);
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#titlar div {
    width: 33.3333333%;
    text-align: center;
}

#logga a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width:700px){
}